@import "variables";
@import "mobile-nav";
@import "header";

//Reset
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


//Base
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


  //Banner

.banner {
    height: 78px;
    background-color: #ffe77b;
    .banner_container {
        font-size: 18px;
        display: flex;
        width: 80%;
        margin: 0 70px;
        i { 
            font-size: 20px;
            margin-top: 20px;
            padding: 3px 18px;
        }
        p {
            font-weight: bold;
            font-size: 17px;
            margin-top: 20px;
            padding: 5px 15px;
            width: 100%;
        }
    }
}


//Main Showcase Area
.main {
    .main_image{
        margin-top: 1px;
        height: 448px;
        margin-bottom: 16px;
        img {
            width: 100%;
            height: 100%;
         }
    }
    
    .main_bar {
    margin: 0 auto;
    width: 60%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
   
       .main_bar_btn1 {
        margin: -230px auto 30px auto;
        width: 150px;
        background: white;
        color: $primary-color;
        font-size: 17px;
        font-weight: bold;
        height: 40px;
        border-radius: 20px;
        padding: 8px 14x;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
         }
    }
       .main_bar_btn2 {
        margin: -70px auto 50px auto;
        width: 150px;
        background: transparent;
        color:white;
        border: white 1px solid;
        font-weight: bold;
        font-size: 17px;
        height: 40px;
        border-radius: 20px;
        padding: 8px 16px;
        cursor: pointer;
     }
      p {
         cursor: pointer;
         margin: 0 auto;
         color: $primary-color;
         font-weight: bold;
         &:hover {
            background: rgb(211, 203, 203);
            border-radius: 20px;
            padding: 5px 10px;
            margin: 0 auto;
        }
    }
   }
 }
    

  //footer
    
      footer {
        background-color: white;
        margin-bottom: 30px;
        .container {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 90%;
            padding-right:5px;
            .nav {
                input[type="checkbox"]:checked ~ ul.footer__menu li {
                    display: flex;
                    flex-direction: column;
                  }
                  input[type="checkbox"]:checked + ul.footer__menu .title svg {
                    transform: rotate(180deg);
                  }
             
                .footer__menu {
                    border-bottom: 1px solid lightgrey;

                    .title {
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 5px;
                         h2 { 
                             font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                             font-size: 20px;
                             color: $primary-color;
                             margin-left: 3px;
                             margin-top: 20px;
                             margin-bottom: 50px;
                             padding: 3px 0 0 20px;
                             text-transform: uppercase;
                            }
                            span {
                                 cursor: pointer;
                                 margin-top: 5px;
                                }
                            }
                         }
                li {
                    display: none;
                    padding: 10px 0;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 18px;
                    color: $primary-color;
                 }

                li:last-child {
                    padding-bottom: 5px;
                }
             }
         }   .nav_btn {
                margin: 0 auto;
                  button {
                  display: block;
                  width: 161px;
                  height: 40px;
                  margin: 15px 0;
                  padding: 8px 24px;
                  border-radius: 25px;
                  border: 1px solid $primary-color;
                  font-weight: bold;
                  font-size: 15px;
                  background: white;
                  color: $primary-color;
                  cursor: pointer;
                 &:hover {
                    transition: ease-in 2s ;
                    background: $secondary-color;
                }

            }
        }

        //footer Socials
     
      .wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 90%;
        margin: 0 15px 0 30px;
        &_social {
            padding-left: 20px;
            margin: 20px 0;
            i {
                margin-left: 15px;
                font-size: 18px;
            }
        }
         &_terms > a, span {
            margin:5px
        }
      }
   }

//Mobile Phone view 
@media screen and (max-width: 520px) {
    header {
        .header_wrapper{
            .header_input {
                margin-left: -10px;
              &_bar{
                  input{
                    width: 150px;

                  }
              }
            }
        }
    }

    .banner{
        .banner_container{
            padding: none;
            margin: 0;
            width: 100%;
           p {
               font-size: 14px;
           }
        }
    }
}

    

/*Tablet landscape*/
@media screen and (min-width: 900px) {
    .main {
        .main_bar {
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 75%;
           .main_bar_btn1 {
            background: #1242af;
            color: white;
            font-size: 14px;
            font-weight: 600;
            text-align: center;
            height: 50px;
            border-radius: 56px;
            padding: 8px 24px;
            width: 150px;
            margin: 0 auto;     
        }
        .main_bar_btn1:hover{
            background: hsl(222, 79%, 29%);
            color: white;
        } 
        .main_bar_btn2 {
            background: white;
            border: none;
            color: $primary-color;
            font-size: 14px;
            font-weight: 600;
            border: 1px solid $primary-color;
            height: 50px;
            border-radius: 56px;
            padding: 8px 24px;
            width: 150px;
            margin: 0 auto;
            &:hover {
                transition: ease-in 2s ;
                background: $secondary-color;
            }
        }
          p {
                width: 170px;
                margin-top: 10px;
                margin-left: 5px;
                font-size: 14px;
                color: rgb(29, 24, 24);
                font-weight: bold;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                &:hover {
                    width: 200px;
                    border-radius: 56px;
                    text-align: center;
                    height: 30px;
                    background-color: lightgrey;
                    cursor: pointer;
                }
            }
        }
     }
       footer {
            background: linear-gradient(rgb(231, 231, 239) 0%, rgb(244, 244, 250) 5%, rgb(255, 255, 255) 10%);
            .container{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin: 0 auto;
                padding: 50px;
                width: 80%;
                .nav {
                    margin: 0 auto;
                    .footer__menu{
                        border: none;
                        .title{
                            padding: none;
                            h2{
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                font-size: 16px;
                                color: rgb(37, 37, 92);
                                border: none;
                                text-transform: uppercase;
                                margin-bottom: 20px;
                            }
                            span {
                                display: none;
                            }
                        }

                        li {
                            display: block;
                            list-style: none;
                            padding: 7px 0;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            font-size: 14px;
                            color: $primary-color;
                        }
                    }
                 }
             }  
           }
        }



//Desktop Screen
@media screen and (min-width: 1020px) {
    header {
        $top-gap: 25px;
       
        .header_wrapper{
            display: flex;
            justify-content: space-between;
            border-bottom: solid 1px $secondary-color;
            border-top: solid 1px $secondary-color;
            .header_image{
                margin-top: $top-gap;
                margin-left: 15px;
                width: 100px;
                height: 60px;
                img {
                    width: $w100;
                    height: 100%;
                }
            }
            .header_nav_burger {
                display: none;
         }
             .header_nav{
                display: flex;
                width: 40%;
                margin-right: 3%;
                   &_link{
                        display: flex;
                        align-items: center;
                        border-left: 1px solid grey;
                          a {
                            text-decoration: none;
                            color: $primary-color;
                            margin: 12px;
                            text-transform: uppercase;
                            font-weight: bold;
                            margin: 1px solid $primary-color;
                            &:hover {
                                color: rgb(25, 25, 194);
                            }
                         }
                     }
                 }
            }  
        }
   }
